:host {
	display: contents;
}

div {
	padding: 1rem;
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

div.even {
	background: #fff;
}

div.validation {
	flex-direction: column;
}

form {
	display: contents;
}

.is-invalid {
	border-color: var(--bs-danger);
	color: border-color: var(--bs-danger);
	background: var(--bs-danger-bg-subtle);
}

.validation-message {
	padding: 0;
	color: var(--bs-danger);
	font-size: 0.8rem;
	font-weight: bold;
	line-height: 0.9rem;
}
