<form [formGroup]="editRowForm">
	<div [class]="{'even': isEven}"><span>{{rowData[2]}}</span></div>
	<div [class]="{'even': isEven}"><span>{{rowData[3]}}</span></div>
	<div class="validation" [class]="{'even': isEven}">
		<input class="form-control" [class]="{'is-invalid': editRowForm.errors?.['invalidGrade']}" type="text" formControlName="grade"/>
		@if (editRowForm.errors?.['invalidGrade']) {
			<div class="validation-message">Not a valid grade</div>
		}

	</div>
	<div class="validation" [class]="{'even': isEven}">
		<input class="form-control" [class]="{'is-invalid': ((whichGrade_() == 'final') && editRowForm.errors?.['dateNeeded']) || editRowForm.errors?.['invalidDate']}" type="text" formControlName="lastAttendedDate"/>
		@if ((whichGrade_() == "final") && editRowForm.errors?.['dateNeeded']) {
			<div class="validation-message">Grades of F, NC, or I require a last attended date</div>
		}
		@if (editRowForm.errors?.['invalidDate']) {
			<div class="validation-message">Please enter dates as mm/dd/yyyy</div>
		}

	</div>
</form>
