:host > div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 3rem;
	width: 100%;
	padding-left: 2rem;
	padding-right: 2rem;
}


@media (max-width: 767.98px) {
	:host > div {
		gap: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
