<header class="alert alert-primary d-flex gap-3">
	<i class="fa-duotone fa-info-circle text-primary fa-3x"></i>
	<div>
		<h4 class="alert-heading fw-bold">Instructions</h4>
		<p>Grades that have been entered or calculated in Blackboard can be brought into Banner, removing the need to retype student grades from scratch. This process involves downloading a file from <b><u>both</u></b> Blackboard and Banner, making sure the information in each file properly matches, and then importing the grade file back into Banner.</p>
		<p>This tool simplifies that process by taking your two files and reconciling them for you.</p>
		<p><b><i>Note:</i></b> You will still need to take the final step of importing your reconciled file into Banner.</p>
		<ol>
			<li>In Blackboard, choose to download the "Full Gradebook". Under "Record Details", all you need to select is the name of the column that contains your final grade. This column is usually  named "Overall Grade." (<a href="https://services.gvsu.edu/TDClient/60/Portal/KB/ArticleDet?ID=5578" target="_blank">learn more about this process in the Service Portal</a>)</li>
			<li>When exporting the "template file" from Banner, select the option for "Excel spreadsheet (.xlsx)"</li>
			<li>These files contain FERPA-protected information. Please delete each of them when you have finished submitting your grades in Banner.</li>
		</ol>
	</div>
</header>

<div>
	<blackboard-loader></blackboard-loader>
	<banner-loader></banner-loader>
</div>
@if (!!dataService.blackboardData_() || !!dataService.bannerData_()) {
	<div class="mt-4">
		<button type="button" class="btn btn-outline-secondary" (click)="doStartOver()">Start Over</button>
	</div>
}
