<div class="file-loader" [class]="{'d-none': !!dataService.blackboardData_()}">
	<i class="fa-duotone fa-chalkboard fa-flip" style="--fa-animation-duration:10s;"></i>
	<div>Drop a Blackboard Gradebook file here<br/><b>or</b><br/>Click to choose one</div>
	<input type="file"
		accept=".xls,.xlsx,.txt"
		class="custom-file-input"
		(change)="onChangeFile($event)"
		#file/>
</div>
<div class="file-loaded" [class]="{'d-none': !dataService.blackboardData_()}">
	<i class="fa-duotone fa-check"></i>
	<div>
		<div>Blackboard file ready</div>
		<div class="small">{{dataService.blackboardData_()?.fileName}}</div>
	</div>
</div>
