<div class="card text-bg-light">
	<div class="card-header p-3">
		<i class="fa-duotone fa-table-columns"></i>
	    <h5 class="card-title mb-0">Which column contains student grades?</h5>
	</div>
	<div class="card-body p-4">
	    <div class="fieldlist">
		@for (field of possibleGradeFieldNames_(); track field) {
			<button type="button" class="btn btn-secondary btn-tall" (click)="selectGradeColumn(field)">{{field}}</button>
		}
		</div>
	</div>
	<div class="card-footer d-flex justify-content-center p-3">
		<button type="button" class="btn btn-outline-secondary" (click)="doStartOver()">Start Over</button>
	</div>
</div>
