@switch (state_()) {

	@case ('column') {
		<header class="alert alert-primary d-flex gap-3">
			<i class="fa-duotone fa-info-circle text-primary fa-3x"></i>
			<div>
				<p class="mb-0">Below is a list of the columns from your Blackboard Gradebook file. Click the button with the name of the column containing your students' final grades.</p>
			</div>
		</header>
		<div class="card text-bg-light">
			<div class="card-header p-3">
				<i class="fa-duotone fa-table-columns"></i>
	    		<h5 class="card-title mb-0">Which column contains student grades?</h5>
			</div>
			<div class="card-body p-4">
	    		<div class="fieldlist">
				@for (field of possibleGradeFieldNames_(); track field) {
					<button type="button" class="btn btn-secondary btn-tall" (click)="selectGradeColumn(field)">{{field}}</button>
				}
				</div>
			</div>
			<div class="card-footer d-flex justify-content-center p-3">
				<button type="button" class="btn btn-outline-secondary" (click)="doStartOver()">Start Over</button>
			</div>
		</div>
	}
	@case ('which') {
		<div class="card text-bg-light">
			<div class="card-header p-3">
				<i class="fa-duotone fa-table-columns"></i>
			    <h5 class="card-title mb-0">Are these midterm or final grades?</h5>
			</div>
			<div class="card-body p-4">
			    <div class="fieldlist">
				    <button type="button" class="btn btn-secondary btn-tall" style="flex-basis: 7rem;" (click)="selectWhichGradeType('midterm')">Midterm</button>
				    <button type="button" class="btn btn-secondary btn-tall" style="flex-basis: 7rem;" (click)="selectWhichGradeType('final')">Final</button>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-center p-3">
				<button type="button" class="btn btn-outline-secondary" (click)="doStartOver()">Start Over</button>
			</div>
		</div>
	}
	@case ('schema') {
		<header class="alert alert-primary d-flex gap-3">
			<i class="fa-duotone fa-info-circle text-primary fa-3x"></i>
			<div>
				<p class="mb-0">Your grade column appears to contain numbers. Click one of the buttons below to convert those numbers to the corresponding grading scale.</p>
			</div>
		</header>

		<div class="card text-bg-light">
			<div class="card-header p-3">
				<i class="fa-duotone fa-ruler"></i>
		    	<h5 class="card-title mb-0">Which grading method does your course use?</h5>
			</div>
			<div class="card-body p-4">
		    		<div class="fieldlist">
			    		<button type="button" class="btn btn-secondary btn-tall" style="flex-basis: 7rem;" (click)="selectGradeSchema('A-F')">A &ndash; F</button>
			    		<button type="button" class="btn btn-secondary btn-tall" style="flex-basis: 7rem;" (click)="selectGradeSchema('CR/NC')">CR / NC</button>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-center p-3">
				<button type="button" class="btn btn-outline-secondary" (click)="doStartOver()">Start Over</button>
			</div>
		</div>
	}
	@case ('dates') {
		<header class="alert alert-primary d-flex gap-3">
			<i class="fa-duotone fa-info-circle text-primary fa-3x"></i>
			<div>
				<p class="mb-0">When submitting final grades, any F, NC, or I grades must include the student's "Last Date of Academic Activity" (LDAA). Your Blackboard grade file includes a date that the student last accessed Blackboard. This date can automatically be filled in as each student's LDAA.</p>
			</div>
		</header>

		<div class="card text-bg-light">
			<div class="card-header p-3">
				<i class="fa-duotone fa-calendar-days"></i>
			    <h5 class="card-title mb-0">Use Blackboard "Last Access" as "Last Attended" Date?</h5>
			</div>
			<div class="card-body p-4">
				    <div class="fieldlist">
					    <button type="button" class="btn btn-secondary btn-tall" style="flex-basis: 7rem;" (click)="selectCopyBlackboardDates('no')">No</button>
					    <button type="button" class="btn btn-secondary btn-tall" style="flex-basis: 7rem;" (click)="selectCopyBlackboardDates('yes')">Yes</button>
				</div>
			</div>
			<div class="card-footer d-flex justify-content-center p-3">
				<button type="button" class="btn btn-outline-secondary" (click)="doStartOver()">Start Over</button>
			</div>
		</div>
	}

	@case ('error') {
		<header class="alert alert-warning d-flex gap-3">
			<i class="fa-duotone fa-triangle-exclamation text-warning-subtle fa-3x"></i>
			<div>
				<p class="mb-0">The Banner template file you chose doesn't seem to have a "Midterm Grade" or "Final Grade" column. There's a chance you may have selected the wrong file. Use the "Start Over" button below to choose new files.</p>
			</div>
		</header>

		<div class="card text-bg-light">
			<div class="card-footer d-flex justify-content-center p-3">
				<button type="button" class="btn btn-outline-secondary" (click)="doStartOver()">Start Over</button>
			</div>
		</div>
	}

}
