<header class="alert alert-primary d-flex gap-3">
	<i class="fa-duotone fa-info-circle text-dark fa-3x"></i>
	<div>
		<p class="">Be sure to double-check each of the grades below. When you're finished, click the "Save Banner File" button at the bottom of the page to download your new grade file, which you will import into Banner.</p>
		<p class="mb-0">Once you have finished submitting your grades in Banner, please delete each of your downloaded files. These files contain confidential student data, including G numbers. They must be stored securely, should not be transmitted by email, and must not be posted publicly.</p>
	</div>
</header>

<div class="card text-bg-light">
	<div class="card-header p-3">
		<i class="fa-duotone fa-pencil"></i>

	    <h5 class="card-title mb-0">Take a moment to double-check your {{dataService.whichGrade_()}} grades</h5>
	</div>
	<div class="data-table">
	    <header>
		    <div>Student</div>
		    <div>G Number</div>
		    <div>Grade</div>
		    <div>Last Attended Date</div>
	    </header>
    		@for (row of mergedData_().rows; track row; let e = $even, index = $index) {
    			<data-row
			    [rowData]="row"
			    [isEven]="e"
			    (onUpdate)="doUpdateRow(index, $event)">
		    </data-row>
    		}
	</div>
	<div class="card-footer p-3 d-flex justify-content-center gap-2">
		<button type="button" class="btn btn-primary" (click)="doSaveBannerFile()">Save Banner File</button>
		<button type="button" class="btn btn-outline-secondary" (click)="doStartOver()">Start Over</button>

	</div>
</div>
